.home {
  background-color: var(--main-color);
}

.home .image {
  width: 250px;
  margin-bottom: 20px;
}

.home h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.star-icon + div {
  font-size: 20px;
}
